@model MrCMS.Web.Apps.Commenting.Pages.UnsubscribeFromCommentReplies
           
<h1>@Editable(Model, m => m.Name)</h1>
<div class="alert alert-info" role="alert">
    You have been unsubscribed from future comment alerts.
</div>