@model MrCMS.Web.Apps.Commenting.Entities.UserProfile.CommentsInfo
<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            @Html.LabelFor(info => info.Username)
            @Html.DisplayFor(info => info.Username)
        </div>
    </div>
</div>

